<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html(~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Home - Educational Quality Project</title>
</head>
<body>
    <div id="content">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Educational Quality Project</h1>
            <p class="lead">This is a simple application for managing students and teachers.</p>
            <hr class="my-4">
            <p>Use the navigation menu to manage students and teachers.</p>
            <a class="btn btn-primary btn-lg" href="/students" role="button">Manage Students</a>
            <a class="btn btn-secondary btn-lg" href="/teachers" role="button">Manage Teachers</a>
        </div>
    </div>
</body>
</html>